[Unit]
Description=Kafka Producer for Kafka.
Documentation=Please refer to https://github.com/Lonestar137/kafka-generator
After=network-online.target 
Wants=network-online.target

[Service]
Type=simple
ExecStart=/bin/sh -c 'scala /opt/kafka-generator/target/scala-2.11/KafkaProducer-2.11.12.jar'
TimeoutSec=0
RestartSec=2
Restart=always

[Install]
WantedBy=multi-user.target



